.card1{
    animation-name: card1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.card2{
    animation-name: card2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.card3{
    animation-name: card3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes card1 {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}
    
@keyframes card2 {
    0% {
        top: -100px;
    }
    100% {
        top: 40px;
    }
}

@keyframes card3 {
    0% {
        top: -100px;
    }
    100% {
        top: 80px;
    }
}