.desert{
  @include tablet{
    flex-basis: 40%;
  }
  @include desktop{
    flex-basis:auto;

  }

    &__title{
      @include menu-title;
      
    }

    &__detail{
        display: flex;
        flex-direction: column;
        gap: rem(15);

        @include menu-detail-card;
            
            
    }
    
    
    

}