.menu{
    @include background($white2);
    border-radius:rem(30) rem(30) 0 0;
    margin-top: rem(-60);
    padding-left: rem(20);
    padding-right: rem(20);
    padding-bottom: rem(40);
         
    
    &__heading{
        font-family: $ff-logo;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(30) rem(10) 0;
        @include icon-heart;
        @include tablet{
            width: 40%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: rem(30);
        }
    }

    &__all{
        @include tablet{
            display: flex;
            flex-wrap: wrap;
            gap: rem(30);
            justify-content: space-evenly;
            
        }
    }

    
            
}