
.meal{
  
  
  @include tablet{
    flex-basis: 35%;
  }
  @include laptop{
    flex-basis:30%;
  }

    &__title{
      @include menu-title;
      
    }

    &__detail{
        display: flex;
        flex-direction: column;
        gap: rem(15);

        @include detail-card;
          
        
        
            
            
    }
   

}

