//variables font-family

$ff-text: 'Roboto', sans-serif;
$ff-logo: 'Shrikhand', cursive;
$ff-title: 'Shrikhand', cursive;

//variables font-weight: normal(n), bold(b), medium (m)
$fw-n: 400;
$fw-m: 500;
$fw-b: 700;



