.restau__card{
    height: rem(250);
    display: flex;
    flex-direction: column;
    margin-bottom: rem(20);
    position: relative;
    border-radius: rem(15);
    
    @include shadow-btn($grey-light);
    @include desktop{
        height: rem(350);
    }

    
    &__frame{
        @include frame;
        @include desktop {
            height: rem(270);
        }
  
    }
    &__info{
        @include background($white1);
        @include info;
    }
    

    
}