.btn{
    width: 60%;
    max-width: 300px;
    color: $text-white;
    text-align: center;
    padding: rem(15);
    margin-left: auto;
    margin-right: auto;
    margin-top: rem(40);
    margin-bottom: rem(40);

    border-radius: rem(50);
    @include gradient-btn;
    @include shadow-btn($grey-light);
    
    
    @include btn-hover;
    transition: 100ms;

}

