.nav__list{
    position: relative;
    @include tablet{

        display: flex;
        flex-direction: row;
        gap: rem(30);
        text-align: center;
    }
    
           
    
    &__item{
        padding: rem(25) rem(30) ;
        margin-top:rem(20) ;
        @include background($white2);
        border-radius: rem(20);
        @include item;
        @include shadow-btn($grey-light);
        @include tablet{
           flex: 1;
           display: flex;
           position: relative;
           align-items: center

        }
        
    

    }
        
    &__item--active{
        @include background($primary-light);
    
    }
}