@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

@keyframes fill {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 1rem;
  position: relative;
  max-width: 1340px;
}

body a {
  text-decoration: none;
}

body h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

body h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

body h3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
}

body p {
  margin: 0;
}

.container a {
  text-decoration: none;
  color: #000;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: auto;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.btn {
  width: 60%;
  max-width: 300px;
  color: #fff;
  text-align: center;
  padding: 0.9375rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-radius: 3.125rem;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  -webkit-box-shadow: 3px 3px 3px #EAEAEA, 3px 3px 3px #EAEAEA;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 3px #EAEAEA, 3px 3px 3px #EAEAEA;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 3px #EAEAEA, -3px 3px 3px #EAEAEA;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  transition: 100ms;
}
.btn:hover {
  box-shadow: inset 0 0 8px 2px #f2f3f5, 0 1px 0 0 #eeeeee;
  background: linear-gradient(180deg, #b38ae4 0%, #f073cc 100%);
}

.menu {
  background-color: #F6F6F6;
  border-radius: 1.875rem 1.875rem 0 0;
  margin-top: -3.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 2.5rem;
  overflow: hidden;
}
.menu__heading {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem 0.625rem 0;
}
.menu__heading h1 {
  margin: 0;
}
.menu__heading__rate {
  position: relative;
}
.menu__heading__rate input[type=checkbox] {
  width: 25px;
  height: 30px;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
.menu__heading__rate input[type=checkbox]:checked ~ .heart::after {
  animation-name: fill;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.menu__heading__rate input[type=checkbox]:checked ~ .heart {
  background: -webkit-linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  background: -moz-linear-gradient(to top, #FF79DA 0%, primary-dark 100%);
  background: linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 200ms ease-in-out;
}
.menu__heading__rate .heart {
  font-size: 1.5rem;
  color: #353535;
  position: relative;
  display: inline-block;
  text-align: center;
}
.menu__heading__rate .heart::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  position: absolute;
  top: 0%;
  left: 0.5px;
  background: -webkit-linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  background: -moz-linear-gradient(to top, #FF79DA 0%, primary-dark 100%);
  background: linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  animation-duration: 300ms;
  height: 0%;
}
@media screen and (min-width: 768px) {
  .menu__heading {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.875rem;
  }
}
@media screen and (min-width: 768px) {
  .menu__all {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    justify-content: space-evenly;
  }
}

.topbar__info {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.topbar__info a {
  padding-left: 1.25rem;
  padding-right: 3.75rem;
  color: black;
  position: absolute;
  left: 0;
}
.topbar__img {
  height: 16.875rem;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  max-width: 1340px;
}
@media screen and (min-width: 768px) {
  .topbar__img {
    height: 31.25rem;
  }
}

@media screen and (min-width: 768px) {
  .meal {
    flex-basis: 35%;
  }
}
@media screen and (min-width: 1280px) {
  .meal {
    flex-basis: 30%;
  }
}
.meal__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  width: 12%;
  opacity: 0.7;
  border-bottom: 3px solid #008665;
  padding-bottom: 0.125rem;
  margin-left: 0.625rem;
  margin-bottom: 0.9375rem;
  margin-top: 1.875rem;
}
.meal__detail {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
.meal__detail__card {
  display: flex;
  background-color: #fff;
  border-radius: 0.9375rem;
  position: relative;
  -webkit-box-shadow: 1px 1px 10px 5px rgba(128, 128, 128, 0.178);
  box-shadow: 1px 1px 10px 5px rgba(128, 128, 128, 0.178);
  justify-content: space-between;
}
.meal__detail__card .meal__detail__card__info {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 0.625rem 0 0.625rem 0.625rem;
}
.meal__detail__card .meal__detail__card__info .name {
  font-weight: 700;
  padding-bottom: 0.3125rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal__detail__card .meal__detail__card__info .sidename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal__detail__card__price {
  font-weight: 700;
  align-self: flex-end;
  padding-bottom: 0.625rem;
  padding-right: 0.625rem;
  transition: all 300ms ease-in-out;
}
.meal__detail__card__icon {
  border-top-right-radius: 0.9375rem;
  border-bottom-right-radius: 0.9375rem;
  color: #fff;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0%;
  transition: all 400ms ease-in-out;
}
.meal__detail__card__icon > i {
  opacity: 0;
  transform: translateX(30px);
  animation-duration: 350ms;
  transition: all 400ms ease-in-out;
}
.meal__detail__card:hover .meal__detail__card__price {
  padding-right: 0;
}
.meal__detail__card:hover .meal__detail__card__icon {
  width: 20%;
}
.meal__detail__card:hover .meal__detail__card__icon > i {
  opacity: 1;
  transform: translateX(0px);
  animation-name: rotate;
  animation-timing-function: ease-in;
}
.meal__detail__card:hover .meal__detail__card__info {
  width: 65%;
}

.footer {
  padding: 1.875rem 1.25rem;
  background-color: #353535;
  color: #F6F6F6;
}
@media screen and (min-width: 768px) {
  .footer {
    text-align: center;
  }
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  margin-bottom: 0.625rem;
}
.footer__list > li {
  margin-bottom: 0.3125rem;
}
.footer__list > li i {
  display: inline-block;
  font-size: 0.8rem;
  width: 1.25rem;
}
.footer__list > li a {
  text-decoration: none;
  color: #F6F6F6;
}

.card1 {
  animation-name: slideup1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

.card2 {
  animation-name: slideup2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 20ms;
  animation-timing-function: ease-in-out;
}

.card3 {
  animation-name: slideup3;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 30ms;
  animation-timing-function: ease-in-out;
}

@keyframes slideup1 {
  0% {
    top: 30px;
  }
  100% {
    top: 0px;
  }
}
@keyframes slideup2 {
  0% {
    top: 30px;
  }
  100% {
    top: 5px;
  }
}
@keyframes slideup3 {
  0% {
    top: 30px;
  }
  100% {
    top: 10px;
  }
}

/*# sourceMappingURL=menu.css.map */
