* ,
*::after, 
*::before {
    box-sizing: border-box;
}

html{
    
    font-size: 16px;
    

}

body{
    font-family: $ff-text;
    font-weight: $fw-n;
    color: $text-main;
    font-size: 1rem;
    position: relative;
       
    
}

body a{
    text-decoration: none;
}

body h1{
    font-weight: $fw-b;
    font-size: 1.5rem;
   
}

body h2{
    font-weight: $fw-b;
    font-size: 1.5rem;

}
body h3{
    font-weight: $fw-b;
    font-size: 1rem;

}

.container a{
    text-decoration: none;
    color: $text-main;
}






