//mixin topbar

@mixin topbar-info {
    &__info{
        padding-top: rem(10);
        padding-bottom: rem(10);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
    


        a{
            
            padding-left: rem(20);
            padding-right: rem(60);
            

            color: black;
            position: absolute;
            left: 0;
            
            
            
        }
            
        
           
            
                

            
        

    }

}

//mixin menu__heading
.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

@mixin heading-title{
    h1{
        
        margin: 0;
      
    }
}

@mixin heading-rate {
    

    &__rate{
        position: relative;

        

      
        input[type='checkbox']{
            width: 25px;
            height: 30px;
            position: absolute;
            top:0;
            opacity: 0;
            z-index: 2;
            cursor: pointer;
          
            &:checked ~ .heart{
                &::after {
                    animation-name: fill;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards;
    
                }

                &{
        
                    @include gradient-heart;
                    transition: all 200ms ease-in-out;
                }

            }
        }
        
        .heart{
            font-size: 1.5rem;
            color: $grey-super-dark;
            position: relative;
            display: inline-block;
            
            text-align: center;
            
        }

        

        .heart::after{
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content:'\f004';
            position: absolute;
            top: 0%;
            left: 0.5px;
            @include gradient-heart;
            z-index: 1;
            animation-duration: 300ms;
            
            height: 0%;
            
            

        }
        
                    
        
        
        
        
        
        
    }
    
}

//mixin menu__section : starter, dish and desert



@mixin menu-title{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    width: 12%;
    opacity: 0.7;
    border-bottom: 3px solid $tertiary-dark;
    padding-bottom: rem(2);
    margin-left: rem(10);
    margin-bottom: rem(15);
    margin-top: rem(30);

}

@mixin detail-card {
    &__card{
        display: flex;
        background-color: $white1;
        border-radius: rem(15);
        position: relative;
        @include card-info;
        @include price;
        @include card-icon;
        -webkit-box-shadow: 1px 1px 10px 5px rgba(128, 128, 128, 0.178); 
        box-shadow: 1px 1px 10px 5px rgba(128, 128, 128, 0.178);
        justify-content: space-between;
        @include detail-card-afterhover;
        
    }
   
}

@mixin detail-card-afterhover{

    &:hover {
        @include price-afterhover;
        @include card-icon-afterhover;
        @include card_info-afterhover;
    }
}



@mixin card-info{
    .meal__detail__card__info{
        width: 90%;
        display: flex;
        flex-direction: column;
        @include card-info-name;
        @include card-info-sidename;
        padding: rem(10) 0 rem(10) rem(10) ;

      
    }
    
}
@mixin card_info-afterhover{
    .meal__detail__card__info{
        width: 65%;


    }

} 
  
@mixin card-info-name {
    .name{
        font-weight: $fw-b;
        padding-bottom: rem(5);
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;

    }
    
}

@mixin card-info-sidename {
    .sidename{
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        

    }
    
}

@mixin price{
    &__price{
        
        font-weight: $fw-b;
        align-self: flex-end;
        padding-bottom: rem(10);
        padding-right: rem(10);
        transition: all 300ms ease-in-out;
        
        

    }
}


@mixin price-afterhover {
    
    .meal__detail__card__price{
        padding-right: 0;
        
        
    }
}

@mixin card-icon {
    &__icon{
        border-top-right-radius: rem(15);
        border-bottom-right-radius: rem(15);
        color: $white1;
        background-color: $tertiary-light;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0%;
        transition: all 400ms ease-in-out ;


    >i{
            opacity: 0;
            transform: translateX(30px);
            animation-duration: 350ms;
            transition: all 400ms ease-in-out ;
            

    }

    }
    
}

@mixin card-icon-afterhover {
    .meal__detail__card__icon{
    width: 20%;
      
        >i{
        
            opacity: 1;
            transform: translateX(0px);
            animation-name: rotate;
            animation-timing-function: ease-in;


        }
    
    }
}


@keyframes rotate{
    0%{transform: rotate(0deg);}
    

    100%{transform: rotate(180deg);}

}

