// mixin colors
@mixin gradient-btn  {
    
    background: linear-gradient(180deg, $secondary-dark 0%, $primary-dark 100%);
   
}


@mixin gradient-background {
    background: -webkit-linear-gradient(to left,  $secondary-dark 0% ,$primary-dark 100%);
    background: -moz-linear-gradient(to left,  $secondary-dark 0% ,primary-dark 100%);
    background: linear-gradient(to left,  $secondary-dark 0% ,$primary-dark 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin gradient-heart {
    background: -webkit-linear-gradient(to top,  $secondary-dark 0% ,$primary-dark 100%);
    background: -moz-linear-gradient(to top,  $secondary-dark 0% ,primary-dark 100%);
    background: linear-gradient(to top,  $secondary-dark 0% ,$primary-dark 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin background($color) {
    background-color:$color ;
    
}

// mixin shadow

@mixin shadow-btn($color) {
    
    -webkit-box-shadow: 3px 3px 3px  $color,
                       3px 3px 3px  $color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 3px  $color,   
                    3px 3px 3px  $color;  /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 3px  $color,
                -3px 3px 3px  $color;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

//mixinn button
@mixin btn-hover {
        &:hover{
            
            box-shadow: inset 0 0 8px 2px #f2f3f5, 0 1px 0 0 #eeeeee;
            background: linear-gradient(180deg, rgba(179,138,228,1) 0%, rgb(240, 115, 204) 100%);
            


        }
    
}



.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

  
//mixin of nav_list_item
@mixin item {
    @include numb;
    @include icon;
    @include text;
}

    //mixin of child: icon store colored

    @mixin icon-active {
    color: $primary-dark;
}

    //mixin circular border form

    @mixin circle {
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
    padding: rem(2) rem(6) rem(0) rem(6);
    }

    //mixin child selector: nav_list_item_numb
    @mixin numb {
        &__numb{
            display: inline-block;
            color: $primary-light ;
            background-color:  $primary-dark;
            @include circle;
            position: absolute;
            left: rem(-10);
    }

}

    //mixin child selector: nav_list_item_icon

    @mixin icon {
        &__icon {
            display: inline-block;
            width: 10%;
            color: $grey;
        }
        &__icon--active{
            @include icon-active;
        }
    }

    // mixin child selector: nav_list_item_text

    @mixin text {
        &__text{
            
            display: inline-block;
            width: 90%;
            color: $grey-super-dark;
            font-weight: $fw-b;
            
         
        }
    }


// mixin child of restau_card

   
@mixin frame {
    position: relative;
    height: rem(175);

    &__img{
    object-fit: cover;
    width: 100%;
    height: 100% ;
    border-top-left-radius: rem(15);
    border-top-right-radius: rem(15);

    }
    &__tag{
        display: inline-block;
        @include background($tertiary-light);
        color: $tertiary-dark;
        font-weight: $fw-b;
        padding: rem(5) rem(15);
        border-radius: rem(2);
        position: absolute;
        right: 15px;
        margin-top: rem(15);
    }
}

   
 
@mixin info {
    @include background($white1);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(15);
    border-bottom-left-radius: rem(15);
    border-bottom-right-radius: rem(15);
    
    
    &__rate{
        position: relative;
      
        input[type='checkbox']{
            width: 25px;
            height: 30px;
            position: absolute;
            top:0;
            opacity: 0;
            z-index: 2;
            cursor: pointer;
          
            &:checked ~ .heart{
                &::after {
                    animation-name: fill;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards;
    
                }

                &{
        
                    @include gradient-heart;
                    transition: all 200ms ease-in-out;
                }

            }
        }
        
        .heart{
            font-size: 1.5rem;
            color: $grey-super-dark;
            position: relative;
            display: inline-block;
            
            text-align: center;
            
        }

        

        .heart::after{
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content:'\f004';
            position: absolute;
            top: 0%;
            left: 0.5px;
            @include gradient-heart;
            z-index: 1;
            animation-duration: 300ms;
            
            height: 0%;
            
            

        }
        
                    
        
        
        
        
        
        
    }
 
    
}

@keyframes fill {
    0% {
      height: 0%;
      
    }
    100% {
      height: 100%;
      
    }
  }


//mixin footer_logo

@mixin footer-logo {
    font-family: $ff-logo;
}


//mixin for responsive layout

@mixin tablet {
    @media screen and (min-width:map-get($breakpoints, tablet)) {
        @content;
    }
    
}

@mixin laptop {
    @media screen and (min-width:map-get($breakpoints, laptop)) {
        @content;
    }
    
}



@mixin desktop{
    @media screen and (min-width:map-get($breakpoints, desktop)){
        @content;
    }

} 




    

    

