.footer{
    padding: rem(30) rem(20);
    

    @include background($grey-super-dark);
    color: $text-inverse;
    @include tablet {
        text-align: center
    }
    
    &__logo{
        @include footer-logo;
        margin-bottom: rem(10);
    }
    
    &__list{
        > li{
            margin-bottom: rem(5);
            }
        > li i {
            display: inline-block;
            font-size: 0.8rem;
            width: rem(20);

        }
        >li a {
            text-decoration: none;
            color: $text-inverse;

        }
        

    }
}