.loader__message >span{
    display: block;
    @include footer-logo;
    padding-bottom: rem(16);

}

.loader__bloc__item{
    padding: rem(10) rem(16);
    border-radius: 50%;
    @include gradient-btn;    
    border: 1px solid $white1;
    -webkit-animation: loader-bloc 2s linear infinite;
    animation: loader-bloc 1s linear infinite;

}



.loader{
    width: 100%;
    height: 100%;
    text-align: center;
    color: $text-inverse;
    animation: 3s linear normal forwards;
    
    &__message{
        font-weight: 300;
        padding: rem(20) 0;
        animation-name: loader-message;
        animation-duration: 1s

    }

    &__bloc{
        
        display: flex;
        flex-direction: row;
        gap: rem(10);
        align-items: center;
        justify-content: center;
        
    }
        
   }

@keyframes loader-message{
    
    0% { bottom:-100px; opacity:0 } 
    100% { bottom:0px;  opacity:1}
    

    

}

@keyframes loader-bloc{
    50%,
    80%, 
    99% { transform: scale(1); }
    60%,75% { transform: scale(0.5);  }
    85% { transform: scale(1.1);  }
    


}

@keyframes loader{
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

 