

.topbar__search{
    position: relative;

    @include locate;
    > input{
        color: $grey-dark;
        font-weight: $fw-b;
        display: block;
        border-right-style: hidden;
        border-left-style: hidden;

        width: 375px;
        text-align: center;
        padding-top: rem(10);
        padding-bottom: rem(10);
        background-color: $grey-light ;
        margin: auto;
        

    }
    
    

}
