.topbar__detail{
    padding-top: rem(35);
    padding-bottom: rem(35);
    @include background($white2);

    &__heading{
        padding-top: rem(0);
        padding-bottom: rem(0);
        
    }
    > p{
        font-weight: $fw-n;
        color: $grey;
        padding-top: rem(25);
        padding-left: rem(20);
        padding-right: rem(20);

        
    }
    
}
